html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.box {
    background-color: teal;
    width: 300px;
    padding: 30px 20px;
    margin: 0 auto;
}

.text-block p:first-child{ 
    color: red;
}

.text-block p:not(:last-child):not(:first-child){
    color: rgb(134, 2, 115);
}

.text-block p:last-child {
    color: #ffaa00;
}

.list li:nth-child(even) {
    margin-bottom: 15px;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline-block;
}

/* .menu li:not(:last-child):not(:first-child) {
    margin: 0 24px;
} */

.menu li:not(:first-child) {
    margin-left: 24px;
}

.menu li:not(:last-child) {
    margin-right: 24px;
}

.site-skeleton {
    width: 610px;
    padding: 18px;
}

.header, 
.main {
    margin-bottom: 20px;
}

.header, 
.main,
.footer {
    text-align: center;
    color: #ffffff;
    font: 700 18px 'Arial', sans-serif;
    background-color: #401E62;
}

.header,
.footer {
    padding: 36px 0;
}

.main {
    padding: 190px 0;
}