/* Стили для шапки */
.header {
    .top-part {
        padding: 20px 0;
    }

    &-contacts-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    address {
        margin: 0;
    }

    &-contact {
        line-height: 20px;
        color: #565656;
    }

    .contacts-btn {
        display: inline-block;
        padding: 11px 18px;
        color: $white;
        background-color: $red;
        border-radius: 50px;
        text-transform: lowercase;
        border: 0;
        cursor: pointer;
        line-height: 22px;
    }
}