/* Базовые стили */
html {
    box-sizing: border-box;
}

* {
    &::before,
    &::after {
        box-sizing: inherit;
    }
}


body {
    margin: 0;
    font-family: $base-font;
    line-height: 1.15;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}