/* Базовые стили */
html {
    box-sizing: border-box;
}

* {
    &::before,
    &::after {
        box-sizing: inherit;
    }
}


body {
    margin: 0;
    font-family: $base-font;
    line-height: 1.15;
    color: $base-color;
    overflow-x: hidden;
}